body {
  font-family: "Aladin", cursive;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: green;
}

.animated-title {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  position: absolute;
  max-width: 225px;
}

.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  left: 50%;
  position: relative;
}

.title span {
  transform: skew(-10deg);
  display: block;
  float: left;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

.rainbow-text {
  align-self: center;
  text-align: center;
  font-size: 100px;
  height: 100px;
  width: 700px;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
#gridContainer {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  width: 400px;
  position: relative;
  justify-self: center;
}

.cell {
  border: 1px solid black;
  background: "white";
  display: inline-block;
  aspect-ratio: 1;
}

.gridRow {
  max-height: 30px;
}

#directions {
  visibility: hidden;
}

#submitDirections {
}
